table#grid .cell {
    border: 1px #aaaaaa;
    width: 5px;
    height: 5px;
    padding: 10px;
    background-color: aliceblue;
    border-style: groove;
}

table#grid {
    margin: auto;
}

.row {
    margin: 10px auto 10px auto;
}

.row.hr {
    margin: 0px auto 0px auto;
}

#locked {
    color: #ff0000;
}

/*div {
    border: 1px solid #000;
}*/
